@charset "UTF-8";

/*CONTACT US 서식*/
.contact{
  height: 400px; width: 100%;
  background-color: #4796E6;
}
.contact h2{
  text-align: center;
  transform: translateY(10px);
  font-weight: bold;
  letter-spacing: 2px;
  padding: 20px 0;
}
/*CONTACT SLIDE 서식*/
  .txt_slide {
    transform: translateY(35px);
    --speed: 100s;     
    --gap: 3rem;    
    width: 100%;
    overflow: hidden;
    background-color: #264CE5;
    padding: 12px 0;        
  }
  .track {
    display: inline-block;
    white-space: nowrap;
    font-size: 0;  
    will-change: transform;
    animation: scroll var(--speed) linear infinite!important;
  }
  .chunk {
    display: inline-block;
    font-size: 20px;
    margin: 0; padding: 0; border: 0;
  }
  .chunk .item {
    display: inline-block;
    margin-right: var(--gap);
    color: #000;          
    font-weight: bold;     
  }
  .chunk .item::after {
  content: " /";       /* / 기호 */
  margin-left: 3rem; /* / 앞 여백 */
}

/* 마지막 아이템 뒤에는 / 제거 */
.chunk .item:last-child::after {
  content: "";
}

  @keyframes scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
  }

/*CONTACT US BOX 서식*/
/*.box 공통서식*/
.box01, .box02{
  background-color: #fff;
  border: 1px solid#fff;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  width: 380px; height: 93px;
  position: absolute;
  transform: translateY(120px);
}
.box01{
  left: 15%;
}
.box02{
  right: 15%;
}
.box03{
  position: relative;
}
.box03 p{
  transform: translateY(20px);
  text-indent: 20px;
}
/*ICON 서식*/
.icon_customer{
  background-position: -35px -365px;
  position: absolute;
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  width: 44px; height: 40px;
  right: 20px;
  transform: translateY(-20px);
}
.icon_office{
  background-position: -220px -418px;
  position: absolute;
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  width: 44px; height: 40px;
  right: 20px;
  transform: translateY(-20px);
}